<div class="container mt-5">
  <div class="row">
    <!-- this element is an example of responsive design, the column width
    increases when the sceen size decreases, reducing elements on screen -->
    <!-- ngFor will loop through the list of users -->
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <!-- [] represents input property, assign it user from ngFor loop -->
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>